@use "~/styles/base/_colors.scss" as *;
@use "~/styles/base/mixins" as *;

#contact {
  background-color: $primary;

  .contact {
    .col-md-6 {
      @include mobile {
        width: inherit;
      }
      .socials {
        img {
          color: #fff;
        }
      }
    }
  }
}
