@use "~/styles/base/_colors.scss" as *;

#blog {
  background: #fff;
  .container {
    position: relative;

    h4, h2{
      z-index: 35;
      text-align: left;
      position: relative;
    }
  
    .blog {
      z-index: 35;
      position: relative;
      .card {
        border-color: transparent;
        background-color: transparent;
        .thumbnail {
          padding: 15px;
          .card-img-top {
            border-bottom-left-radius: var(--bs-card-inner-border-radius);
            border-bottom-right-radius: var(--bs-card-inner-border-radius);
            border-color: #fff;
            width: 100%;
            height: auto;
          }
        }
        .link{
          color: $primary;
        }
      }
    }
  }
}
