@use "~/styles/base/mixins" as *;

#banner {
  display: block;
  background: rgba(0, 0, 0, 0);
  background-image: url("~/assets/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 850px;
  position: relative;

  @include mobile {
    background-size: contain;
    height: 300px;
  }
  @include tablet {
    height: 550px;
  }
}
