@use "~/styles/base/mixins" as *;

#banner {
  display: block;
  background: rgba(0, 0, 0, 0);
  background-image: url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/coffeera/74872891-8zl70fbou9_10000000rs0hi00000i01o.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 850px;
  position: relative;

  @include mobile {
    background-size: contain;
    height: 300px;
  }
  @include tablet {
    height: 550px;
  }

  .banner-description {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-10%, -10%);
    color: white;

    @include mobile {
      top: 40%;
    }

    h1 {
      text-align: left;

      @include mobile {
        font-size: 20px;
      }
    }

    p {
      text-align: left;

       @include mobile {
        font-size: 8px;
      }
    }

    a {

      @include mobile {
        padding: 3px;
        font-size: 10px;
      }
    }
  }
}
